extends: xo/esnext

rules:
  no-console:
    - error

  indent:
    - error
    - 2
    -
      SwitchCase: 1

  prefer-reflect:
    - error
    -
      exceptions:
        - delete

  prefer-rest-params: error
  prefer-spread: error
