extends: xo/esnext

rules:
  no-console:
    - error

  indent:
    - error
    - 2
    -
      SwitchCase: 1

  valid-jsdoc:
    - off
    -
      requireReturn: false
      prefer:
        returns: return
